@font-face {
    font-family: HuiFont29;
    src: url('fonts/HuiFont29.ttf');
}

body.top {
    background-color: #f3bd1a;
    width:100%;
    height: 800px;
    overflow: auto;
    font-family: 'HuiFont29';
}

/*top-----------------------------------------------------------------*/
.topPage{
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topPage-content{
    display: flex;   
    flex-direction: row;
    justify-content: center;
}

.onigiriL{
    display:flex;
    flex-direction: column;
}
.onigiriR{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}


.topCircle{
    position: absolute;
    width: 20vw;
    height: 20vw;
    max-width: 175px;
    max-height: 175px;
    background-color: #ebcc6e;
    border-radius: 50%;
    z-index: 0;
}
#icon0 {
    top: -430px;
    right: 0;
    left: -600px;
    bottom: 0;
    margin: auto;
    object-fit: cover;
}
#icon1 {
    top: 175px;
    right: 0;
    left: -900px;
    bottom: 0;
    margin: auto;
    object-fit: cover;
}
#icon2 {
    top: -700px;
    right: 0;
    left: 250px;
    bottom: 0;
    margin: auto;
    object-fit: cover;
}
#icon3 {
    top: -300px;
    right: 0;
    left: 650px;
    bottom: 0;
    margin: auto;
    object-fit: cover;
}
#icon4 {
    top:300px;
    right:0;
    left:-300px;
    bottom:0;
    margin:auto;
    object-fit: cover;
}
#icon5 {
    top:0;
    right:0;
    left:40px;
    bottom:0;
    margin:auto;
    object-fit: cover;
}
#icon6 {
    top:225px;
    right:0;
    left:800px;
    bottom:0;
    margin:auto;
    object-fit: cover;
}

.modalonigiri{
    display:block;
    position:absolute;
    width: 10vw;
    height: 10vw;
}
#nori2{
    top:-600px;
    left:0;
    bottom:0;
    margin:auto;
    object-fit: cover;
    transform: rotate(30deg);
}
#edamame2{
    top:0;
    left:0;
    bottom:0;
    margin:auto;
    object-fit: cover;
    transform: rotate(-30deg);
}
#goma2{
    top:750px;
    right:0;
    left:200px;
    bottom:0;
    margin:auto;
    object-fit: cover;
    transform: rotate(30deg);
}
#nitamago2{
    top:700px;
    left:0;
    bottom:0;
    margin:auto;
    object-fit: cover;
    transform: rotate(45deg);
}
#shiso2{
    top:-600px;
    right:300px;
    bottom:0;
    margin:auto;
    object-fit: cover;
    transform: rotate(60deg);
}
#sake2{
    top:-600px;
    right:0;
    bottom:0;
    margin:auto;
    object-fit: cover;
    transform: rotate(10deg);
}
#ume2{
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    object-fit: cover;
    transform: rotate(20deg);
}
#yaki2{
    top:750px;
    right:0;
    bottom:0;
    margin:auto;
    object-fit: cover;
    transform: rotate(-30deg);
}

.onigiri2{
    display:none;
}

.topmoji-1-icon {
    position: absolute;
    width: 460px;
    height: 460px;
    object-fit: cover;
    z-index: 5;
}

.topPage-onigiri{
    position: absolute;
    width: 150px;
    z-index: 5;
}
#nori-1-icon {
    top:-600px;
    right:0;
    left:-600px;
    bottom:0;
    margin:auto;
    transform: rotate(-20deg);
}
#edamame-1-icon {
    top:-300px;
    right:0;
    left:-700px;
    bottom:0;
    margin:auto;
    transform: rotate(20deg);
}
#goma-1-icon {
    top:0px;
    right:0;
    left:-600px;
    bottom:0;
    margin:auto;
    transform: rotate(-20deg);
}
#nitamago-1-icon {
    top:300px;
    right:0;
    left:-700px;
    bottom:0;
    margin:auto;
    transform: rotate(20deg);
}

#shiso-1-icon {
    top:-600px;
    right:0;
    left:700px;
    bottom:0;
    margin:auto;
    transform: rotate(20deg);
}
#sake-1-icon {
    top:-300px;
    right:0;
    left:800px;
    bottom:0;
    margin:auto;
    transform: rotate(-20deg);
}
#ume-1-icon {
    top:0px;
    right:0;
    left:700px;
    bottom:0;
    margin:auto;
    transform: rotate(20deg);
}
#yaki-1-icon {
    top:300px;
    right:0;
    left:800px;
    bottom:0;
    margin:auto;
    transform: rotate(-20deg);
}

#startFC {
    position: relative;
    top:400px;
    right:0;
    left:10px;
    bottom:0;
    width:350px;
    margin:auto;
    cursor: pointer;
    z-index: 5;
    transition: transform 0.3s ease-in-out;
}
#startFC:hover{
    animation: float 1.0s infinite ease-in-out;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1vw);
    }
    100% {
        transform: translateY(0);
    }
}

/*q0~q14------------------------------------------------------------------*/
.modalTitle{
    width:20vw;
    margin-left:30vw;
}
.question{
    font-size: 3.6vw;
    text-align: center;
}
.answeryn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.answery{
    cursor: pointer;
    position: relative;
    width: 35vw;
    height:35vw;
}
.answern{
    cursor: pointer;
    position: relative;
    width: 35vw;
    height:35vw;
    margin-left:30px;
}
.answery img,.answern img{
    position:absolute;
    top:0;
    left:0;
    width: 27vw;
    height: 27vw;
    margin-top: 5vw;
    margin-left: 4vw;
    opacity: 1;
    transition: .4s ease;
}
.answery:hover img:last-of-type,.answern:hover img:last-of-type{
    opacity: 0;
}

/*result-------------------------------------------------------------*/
.result-content{
    justify-content: center;
}
.result-type{
    font-size: 7vw;
    text-align: center;
}
.result-picture{
    display: flex;
    flex-direction: row;
}
.result-effect1{
    position: absolute;
    width: 15vw;
    margin-top: 23vw;
    margin-left: 6vw;
    object-fit: scale-down;
    
    transform: rotate(-80deg);
}
.result-onigiri{
    margin-left:15vw;
    width: 50vw;
    object-fit: scale-down;
}
.result-effect2{
    width: 15vw;
    object-fit: scale-down;
    margin-left: -13vw;
    margin-top: -30vw;
    transform: rotate(45deg);
}
.result-content{
    font-size: 4vw;
    text-align: center;
}
.result-comment{
    display: flex;
    flex-direction: row;
}

.result-comment-title{
    font-size: 4vw;
    position: absolute;
    width: 30vw;
    margin-left:15vw;
    margin-top:2vw;
}

.result-comment-content{
    position: absolute;
    width: 40vw;
    margin-left: 7.8vw;
    margin-top: 7vw;
}

.result-massagebox{
    margin-left: 4vw;
    width: 55vw;
    object-fit:scale-down;
}
.result-face{
    margin-left: -5vw;
    margin-top: 3vw;
    width: 23vw;
    height: 23vw;
}
.finishBtn{
    width: 30vw;
    object-fit: scale-down;
    margin-left: 25vw;
    cursor: pointer;
}










/*modal---------------------------------------------------------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    overflow: auto;
    
}

.modal-content {
    background-color: white;
    border-radius: 30px;
    margin: 5% auto;
    padding: 2.5vw;
    border: 2px solid #C39300;
    width: 80%;
    max-width: 100vw;
}

.loading {
    display: none;
    position: fixed;
    z-index: 500;
    width: 20vw;
    height: 20vw;
    top: -10vw;
    right: 0;
    left: 3vw;
    bottom: 0;
    margin: auto;
    animation: rotate 3.0s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}